/* Style.css Basic Styles for World Bank App */

:root {
  --font-family-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --text-color-dark: #141414;
  --primary-accent: #6B49BF;


}

body {
  font-family: var(--font-family-sans);
  background-color: #EAEAEA;
  color: var(--text-color-dark);
  margin: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  /* Main Vue app mount point */
  padding: 20px;
  box-sizing: border-box;
  min-height: 100vh;
  /* Ensure it takes up at least the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--primary-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--primary-accent);
}

@media (max-width: 480px) {
  body {
    background-color: white;
    /* White background for mobile */
    padding: 0;
  }

  #app {
    padding: 10px;
  }
}